.notes-header {
	background-color: #272932;
	color: white; 
	border-radius: 5px;
}

.notes-header-title {
	margin: 10px 0px;
}

.notes-row-div {
	margin: 0px 10px; 
	background-color: #E7ECEF; 
	border-radius: 0px 0px 5px 5px;
}

.note-new-button {
	width: 100%;
}

.li-note a h1 {
	margin-top: 10px;
}

.li-note {
	margin: 0px 10px; 
	word-break: break-all; 
	word-wrap: break-word;
	border-bottom: 1px #888888 solid;
}

.li-note-option {
	margin-bottom: 10px;
}

.li-note-option a {
	margin: 0px 10px;
}

.note-checked {
	color: gray;
}

.notes-header-edit {
	padding: 0px 30px 20px;
}

.reddish {
	color: #D9534F;
}

.reddish:hover {
	color: #C9302C;
}

.greenish {
	color: #5CB85C;
}

.greenish:hover {
	color: #449D44;
}

